<h1 id="static-header">Contact Us</h1>

<div class="static-contact-container">
	<div class="row">
		<div class="col-md-6 col-sm-4 col-xs-12">
			<p>We can be contacted easily by email, telephone or Skype (FaceTime or Google Hangouts is also possible).</p>
			<p>If you prefer to get in touch with us right away, feel free to use the contact form below.</p>
			<p>Don't be afraid to let us know if you have any questions &ndash; we enjoy talking with our customers!</p>
		</div>

		<div class="col-md-6 col-sm-8 col-xs-12 contact-info">
		  <ul>
		    <li><span class="glyphicon glyphicon-envelope"></span> email: info@bookmania.com</li>
		    <li><span class="glyphicon glyphicon-earphone"></span> mobile: +49 (0)176 12345678</li>
		    <li><span class="glyphicon glyphicon-facetime-video"></span> skype: bookmania</li>
		  </ul>
		</div>
	</div>
</div>

<div class="container" id="contact-form">
	<!-- Contact form section -->
	<%= form_for(@message) do |f| %> <!-- This will get updated soon -->
	  <div class="form-group">
	    <div class="row">
	      <div class="field col-xs-6">
	        <%= f.label :name %>* :
	        <%= f.text_field :name, placeholder: "Bugs Bunny", class: "form-control", id: "form-name", required: true, minlength: 2, maxlength: 20 %>
	      </div>
	      <div class="field col-xs-6">
	        <%= f.label :company %>:
	        <%= f.text_field :company, placeholder: "Disney World", class: "form-control", id: "form-company", minlength: 2, maxlength: 20 %>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="field col-xs-6">
	        <%= f.label :email %>* :
	        <%= f.text_field :email, class: "form-control", placeholder: "bugs@bunny.com", id: "form-email", required: true, minlength: 6, maxlength: 20 %>
	      </div>
	      <div class="field col-xs-6">
	        <%= f.label :telephone %>:
	        <%= f.text_field :telephone, class: "form-control", placeholder: "123-456-7890", id: "form-telephone", min: 9, max: 15 %>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="field col-xs-12">
	        <%= f.label :message %>* :
	        <%= f.text_area :message, class: "form-control", placeholder: "Hello, what's your question?", id: "message-box", cols: 40, rows: 5, disabled: true, required: true, minlength: 5, maxlength: 400 %>
	        <br>
	        <%= f.submit "Send", class: "btn btn-primary outline", id: "form-button" %>
	      </div>
	    </div>
	  </div>
	<% end %>
</div>