<div class="static-index-jumbotron">
	<div class="container">
		<h1 id="static-header">Oasis Books</h1>
	</div>
</div>

<% if notice %>
  <p class="alert alert-warning"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="container-fluid" id="static-index-container">

	<div class="row">

		<div class="col-md-3 col-md-offset-0 col-xs-12" id="left-sidebox">
			<div id="twitter-api">
				<a class="twitter-timeline" href="https://twitter.com/oasis_books" data-widget-id="739776672740872192">Tweets by @oasis_books</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				</script>
			</div>
		</div>

		<div class="col-md-6 col-xs-12" id="main-box">
			<% if user_signed_in? %>
				<h2>Welcome Back, <%= current_user.first_name %>!</h2>
			<% else %>
				<h2>Welcome</h2>
			<% end %>
			<hr>
			<p>This is a paradise for books on the Internet!</p>
			<p>If you're looking for a particular book, you've come to the right place.</p>
			<p>We have an enormous selection of books, which you can browse on our online catalog.</p>
			<p>Don't see what you're looking for? Don't worry, we're experts at locating books. If it exists somewhere in the world, we'll find it &ndash; <b>guaranteed</b>!</p>
		</div>

		<div class="col-md-3 col-md-offset-0 col-xs-6 col-xs-offset-3" id="right-sidebox">
			<!-- Featured Product Carousel -->
			<div class="col-md-12">
				<h3 id="featured-product-header">Featured Products</h3>

			  <!-- Start of Image Carousel -->
			  <div id="image-carousel" class="carousel slide" data-ride="carousel">
			    <!-- Indicators -->
			    <ol class="carousel-indicators">
			    	<% @products.each_with_index do |p, i| %>
			        <li data-target="#image-carousel" data-slide-to="#{i}" class="#{'active' if i == 0}"></li>
			      <% end %>
			    </ol>

			    <!-- Wrapper for slides -->
			    <div class="carousel-inner" role="listbox">
			    	<% @products.each do |product| %>
			        <div class="item<%= " active" if product == @products.first %>" id="product-image-box"> <!-- <div class="item active"> -->
			          <%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
			          <div class="carousel-caption"></div>
			        </div>
			      <% end %>
			    </div>

			    <!-- Controls -->
			    <a class="left carousel-control" href="#image-carousel" role="button" data-slide="prev">
			      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			      <span class="sr-only">Previous</span>
			    </a>

			    <a class="right carousel-control" href="#image-carousel" role="button" data-slide="next">
			      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			      <span class="sr-only">Next</span>
			    </a>
			  </div>
			</div>
			<!-- End of Carousel -->
		</div>
	</div> <!-- closing id="right-sidebox" -->
	</div> <!-- closing class="row" -->
</div> <!-- closing id="static-index-container" -->

	<div class="container lower-icon-row">
		<div class="row">

			<div class="col-md-2 col-md-offset-1">
				<div class="icon-box">
					<%= image_tag("icons/24-hours.png", class: "img-responsive") %>
					<p>Shopping Anytime</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="icon-box">
					<%= image_tag("icons/monitor.png", class: "img-responsive") %>
					<p>Large Catalog</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="icon-box">
					<%= image_tag("icons/money.png", class: "img-responsive") %>
					<p>Great Prices</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="icon-box">
					<%= image_tag("icons/shipping.png", class: "img-responsive") %>
					<p>Fast Shipping</p>
				</div>
			</div>

			<div class="col-md-2">
				<div class="icon-box">
					<%= image_tag("icons/customerservice.png", class: "img-responsive") %>
					<p>Top Customer Care</p>
				</div>
			</div>

		</div>
	</div>

<div class="extra-space"></div>