<table>
  <tbody>
  	<tr>
      <td>
      	<p>Somebody submitted a message with the contact form on Oasis Books:</p>
        <br>
      </td>
    </tr>

    <tr>
      <td>
      	<p>Name:<br>
        <%= @name %></p>
        <br>
      </td>
    </tr>

    <tr>
      <td>
        <p>Company:<br>
        <%= @company %></p>
        <br>
      </td>
    </tr>

    <tr>
      <td>
        <p>Email:<br>
        <%= @email %></p>
        <br>
      </td>
    </tr>

    <tr>
      <td>
        <p>Telephone:<br>
        <%= @telephone %></p>
        <br>
      </td>
    </tr>

    <tr>
      <td>
      	<p>Message:<br>
        <%= @message %></p>
      </td>
    </tr>
  </tbody>
</table>