<div class="users-jumbotron">
  <div class="container">
    <h1 id="static-header">Edit User Info</h1>
  </div>
</div>

<% if notice %>
  <p class="alert alert-warning"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="container users-container">

	<%= render 'form' %>

	<%= link_to 'Show', @user, class: "btn btn-navigate" %>
	<%= link_to 'Back', users_path, class: "btn btn-navigate" %>

</div>