<div class="orders-index-jumbotron">
	<div class="container">
		<h1 id="static-header">Current Order</h1>
	</div>
</div>

 <% if notice %>
    <p class="alert alert-warning"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
 <% end %>

<div class="container show-container">

  <h3>Order <%= @order.id %></h3>

  <hr>

  <p>
    <strong>Order Number:</strong>
    <%= @order.id %>
  </p>

  <p>
    <strong>Product(s):</strong>
    <%= @order.product.title %>
  </p>

  <p>
    <strong>Total Amount:</strong>
    $<%= @order.total %>
  </p>

  <div class="bottom-navigation-links">
    <%= link_to 'Back to Orders', orders_path, class: "btn btn-navigate" %>
  </div>
</div>