<div class="products-index-jumbotron">
	<div class="container">
		<h1 id="static-header">Our Books</h1>
	</div>
</div>

<% if notice %>
  <p class="alert alert-warning"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="container product-index-container">
	<h3 id="products-subtitle">Here is a selection of the books that we currently have in our inventory.</h3>
	<p id="notice"><%= notice %></p>

	<div class="container product-container">
		<div class="row product-row">

			<% cache(cache_key_for_products) do %><!-- start of products caching -->
				<%= render @products %>
			<% end %><!-- end of products caching -->
			
		</div>
	</div>

	<% if signed_in? && current_user.admin? %>
		<div>
			<%= link_to 'Add New Product', new_product_path, class: "btn btn-navigate" %>
		</div>
	<% end %>

</div>

<div class="extra-space"></div>