<div class="products-index-jumbotron">
	<div class="container">
	</div>
</div>

<h1><%= @product.title %></h1>
<p id="notice"><%= notice %></p>

<div class="container show-container">
	<div class="row show-product-row">
		<div class="col-md-4">
			<%= image_tag(@product.image_url, class: "img-responsive", id: "show-product-image") %>
		</div>

		<div class="col-md-6", id="show-product-info">
		<p>
		  <strong>Title:</strong>
		  <%= @product.title %>
		</p>

		<p>
		  <strong>Author:</strong>
		  <%= @product.author %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @product.description %>
		</p>

		<p>
		  <strong>Price:</strong>
		  $<%= @product.price %>
		</p>

		<div class="product-comments">
			<p><b>User Rating:</b></p>
			<p><b>Users Have Said:</b></p>
			<div class="user-comments"></div>
		</div>

		<div class="edit-delete-links">
			<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-edit-delete" %>
			<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-edit-delete" %>
		</div>

		</div>

	</div>

	<%= link_to 'Back to Products', products_path, class: "btn btn-navigate" %>
	
	<div class="show-browse-links">
		<p><%= link_to '< Previous Book', @previous, class: "btn btn-show-browse" %></p>
		<p><%= link_to 'Next Book >', @next, class: "btn btn-show-browse" %></p>
	</div>

</div>

<div class="extra-space"></div>